.blocks1 {
    width: 200%;
    float:left;
    color:gray;
    background:#430157;
    padding: 10px 10px;
 
 }
 .blocks2 {
    width: 200%;
    float:left;
    color:gray;
    background:#430157;
    padding: 10px 10px;
 
 }
 .blocks3 {
    width: 200%;
    float:left;
    color:gray;
    background:#430157;
    padding: 10px 10px;
 
 }
 .blocks4 {
    width: 200%;
    float:left;
    color:gray;
    background:#430157;
    padding: 10px 10px;
 
 }